<h3><%= @course.name %></h3>

<div class="course-teacher">
  <b>Teacher:</b> <%= link_to @teacher.name, teacher_path(@teacher) %>
  |
  <%= link_to "Other Courses", teacher_courses_path(@teacher) %>
</div>

<table class='student-table'>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Grade</th>
  </tr>

  <% @students.each do |student| %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.age %></td>
      <td><%= student.grade %></td>
    </tr>
  <% end %>
</table>

<br>

<b>Top Student:</b> <%= @top_student.name %>

<br><br>
Random pairs:
<ul>
  <% @pairs.each do |pair| %>
    <li><%= pair.map(&:name).join(' & ') %></li>
  <% end %>
</ul>
